doctype html

mixin tab(to)
	li(class=attributes.class)
		a(href="##{to}", aria-controls="#{to}", role="tab", data-toggle="tab")
			block


mixin chimneyThumbnail(chimney)
	.thumbnail.chimney-thumbnail
		.img-container
			img.center-block.img-responsive(src=chimney.imageUrl())
		.caption
			h4=chimney.name
			p: a.btn.btn-primary(
				href='#'
				role='button'
			) Swap!


html
	head
		title Chimney Swap
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/#{theme}/bootstrap.min.css")
		link(rel="stylesheet", href="chimney-swap.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="/chimneyswap.js")
	body
		block content
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
